[user]
# Update the following user information to match your actual name and email address
	name = hisakey
	email = hogehoge@example.com
[core]
  editor = vim
  quotepath = false
	excludesfile = ~/.gitignore

[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
