[user]
# Update the following user information to match your actual name and email address
	name = hisakey
	email = hogehoge@example.com
[core]
  editor = nvim
  quotepath = false
	excludesfile = ~/.gitignore

[diff]
  tool = nvimdiff
[merge]
  tool = nvimdiff
  conflictstyle = diff3
